@import "tailwindcss";
@source inline("grid-cols-4 sm:grid-cols-4 bg-blue-100 border-fuchsia-400");

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(28px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50%       { opacity: 0; }
}

.fade-up {
  opacity: 0;
}

.fade-up.show {
  animation: fadeUp 0.65s ease forwards;
}

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-syne: 'Syne', sans-serif;
}